body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    height: 100%;
}
h1{
    font-size: 40px;
    margin: 0;
}
h2{
    font-size: 30px;
    margin: 7px 0;
}
p{
    margin: 25px 0;
}

.flexible-container{
    display: flex;
    margin: 50px 5% 100px;
    padding: 0 5% 0;
}

#profile-photo{
    width: 70%;
}
.section-img{
    width: 100%;
}

#top-section-header{
    border-left: 4px solid rgb(207, 56, 56);
    padding: 1px 0 0 5px;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 20px;
}
#top-section-header h1{
    padding: 0;
    margin: 10px;
    font-size: 50px;
}

.colored-heading{
    color: orange;
}

.link-btn{
    text-decoration: none;
    background-image: linear-gradient(rgba(255, 0, 0, 0.87), rgba(199, 98, 16, 0.774));
    padding: 10px 30px;
    color: white;
    margin: 20px 0;
    border-radius: 5px;
}

.middle{
    text-align: center;
}

.mission-2022{
    width: 31%;
    margin: 1%;
    padding: 20px;
    border-radius: 15px;
}
.mission-2022 img{
    width: 120px;
}
#mission{
    background-color: rgba(214, 123, 179, 0.199);
}
#vision{
    background-color: rgba(139, 235, 49, 0.226);
}
#goals{
    background-color: rgba(255, 245, 214);
}

.flexible-item-txt{
    width: 55%;
    margin: 1%;
    margin-right: 60px;
}

.flexible-item-img{
    width: 35%;
    margin: 0 5% 0 1%;
}

.flexible-item-half{
    width: 45%;
    padding: 0 20px;
    margin: 1%;
}

footer{
    text-align: center;
    background-color: rgb(2, 9, 19);
    color: white;
}
footer h2{
    font-family: 'Lobster', cursive;
    padding: 40px 0 20px;
    font-weight: 300;
}
footer p{
    margin: 0;
    padding: 0 0 40px;
}
#fotter-changed-color{
    color: tomato;
}